.section__enrollment {
  width: 100%;
}

.section__enrollment--content {
  background-color: var(--green-light);
  padding: 80px 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section__enrollment--form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}