:root {
  --magenta-primary: #e23155;
  --magenta-hover: #c54b63;
  --magenta-dark: #a71f3a;
  --blue-primary: #19325c;
  --blue-hover: #163f83;
  --blue-light: #e5ebf5;
  --green-primary: #addcd4;
  --green-hover: #b1ede2;
  --green-light: #ddfff9;
  --gray-primary: #efefef;
  --gray-medium: #d9d9d9;
  --gray-dark: #a19b9b;
  --graphite: #312e2e;

  --main-font: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  box-sizing: border-box;
}

.green {
  color: var(--green-primary);
}

.blue {
  color: var(--blue-primary);
}

.magenta {
  color: var(--magenta-primary);
}

.gray {
  color: var(--gray-primary);
}

.graphite {
  color: var(--graphite);
}