.field__digitation {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  align-self: stretch;
  background: transparent;
  border: 1px solid var(--blue-primary);
  border-radius: 0.5rem;
  color: var(--graphite);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
}

.field__digitation:focus {
  outline: none;
  border: 2px solid;
  border-color: var(--blue-primary);
}

.field__digitation--subtitle {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  color: var(--blue-primary);
  font-size: 1.165rem;
  font-weight: 700;
  gap: 0.5rem;
}

.erro-message {
  color: var(--magenta-primary);
  font-style: italic;
  font-weight: 600;
  margin-top: 0.5rem;
}